<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>OrderMethod Data</title>

</head>
<body>
	<h3>ORDER METHOD DATA PAGE</h3>
	<br>

	<table border="2">
		<tr>
			<th>ID</th>
			<th>MODE</th>
			<th>CODE</th>
			<th>METHOD</th>
			<th>ACCEPT</th>
			<th>DESCRIPTION</th>
			<th>OPERATIONS</th>
		</tr>
		<tr th:each="ob:${list}">
			<td th:text="${ob.id}"></td>
			<td th:text="${ob.orderMode}"></td>
			<td th:text="${ob.orderCode}"></td>
			<td th:text="${ob.orderType}"></td>
			<td th:text="${ob.orderAccept}"></td>
			<td th:text="${ob.description}"></td>	
			<td>
				<a th:href="@{/ordermethod/delete?id={data}(data=${ob.id})}">DELETE</a> &nbsp &nbsp
				<a th:href="@{/ordermethod/edit?id={data}(data=${ob.id})}">EDIT</a>
			</td>
		</tr>
	</table>
	<span th:text="${message}"></span>

</body>
</html>