<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>OrderMethod Register</title>

</head>
<body>
	<h3>OrderMethod Register Page!!!</h3>
	<form action="save" method="POST">
		<pre>
	Order Mode   : <input type="radio" name="orderMode" value="Sale"/>Sale <input type="radio" name="orderMode" value="Purchase"/>Purchase
	
	Order Code   : <input type="text" name="orderCode"/>
	
	Order Type   : <select name="orderType">
						<option>--select--</option>
						<option value="FIFO">FIFO</option>
						<option value="LIFO">LIFO</option>
						<option value="FCFO">FCFO</option>
						<option value="FEFO">FEFO</option>
				   </select>
		
        Order Accept : 
    			<input type="checkbox" name="orderAccept" value="Multi-Model"/>Multi-Model
    			<input type="checkbox" name="orderAccept" value="Accept Return"/>Accept Return
    		
        Description  : <textarea name="description"></textarea>
    
              <input type="submit" value="Create Order Method"/>

</pre>
	</form>
	
	<span th:text="${msg}"></span>
</body>
</html>