<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="ISO-8859-1">
    <title>Part Data</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

</head>

<body>
    <div class="container">
        <div class="card">
            <div class="card-header bg-primary text-center text-white">
                <h3>PART DATA PAGE!!!</h3>
            </div> <!-- card-header ends-->

            <div class="card-body">
            <a th:href="@{/part/excel}" class="btn btn-warning">EXCEL EXPORT</a>
            <a th:href="@{/part/pdf}" class="btn btn-warning">PDF EXPORT</a>
                <table class="table table-hover">
                    <tr class="bg-success text-white">
                        <th>ID</th>
                        <th>CODE</th>
                        <th>DIMENSIONS</th>
                        <th>COST</th>
                        <th>CURRENCY</th>
                        <th>UOM</th>
                        <th>SALE(OM)</th>
                        <th>PURCHASE(OM)</th>
                        <th>OPERATIONS</th>
                    </tr>
                    <tr th:each="ob:${list}">
                        <td th:text="${ob.id}"></td>
                        <td th:text="${ob.partCode}"></td>
                        <td th:text="${ob.partLen +'L,' +ob.partWid +'W,' +ob.partHght +'H'}"></td>
                        <td th:text="${ob.partCost}"></td>
                        <td th:text="${ob.partCurrency}"></td>
                        <td th:text="${ob.uom.uomModel}"></td>
                        <td th:text="${ob.omSale.orderCode}"></td>
                        <td th:text="${ob.omPurchase.orderCode}"></td>
                        
                        <td>
                            <a class="btn btn-danger" th:href="@{/part/delete?id={data}(data=${ob.id})}">DELETE</a> &nbsp
                            <a class="btn btn-info" th:href="@{/part/edit?id={data}(data=${ob.id})}">Edit</a>
                        </td>
                    </tr>
                </table>                                
            </div>  <!-- card body ends-->

            <div class="card-footer bg-info text-white text-center" th:if="${message != null}">
                <span th:text="${message}"></span>
            </div>  <!-- card-footer ends -->

        </div> <!-- card-ends-->

    </div> <!-- container-ends-->

</body>

</html>