<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">

<head>
<meta charset="ISO-8859-1">
<title>SaleOrder Register</title>
<!-- CSS only -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- JS and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

</head>

<body>
	<div class="container">
		<div class="card">
			<div class="card-header text-center bg-primary text-white">
				<h3>WELCOME TO SALE ORDER REGISTER PAGE</h3>
			</div>
			<div class="card-body">
				<form id="soRegForm" th:action="@{/so/save}" method="POST" th:object="${saleOrder}">

					<!-- row-1 -->
					<div class="row">
						<div class="col-2">
							<label>ORDER CODE</label>
						</div>
						<div class="col-5">
							<input type="text" th:field="*{orderCode}" class="form-control"/>
						</div>
						<div class="col-5">
							<span id="orderCodeError"></span>
						</div>
					</div>
					
					

					<!-- row-4 -->
					<div class="row">
						<div class="col-2">
							<label>REFERENCE NUMBER</label>
						</div>
						<div class="col-5">
							<input type="text" th:field="*{refNumber}" class="form-control" />
						</div>
						<div class="col-5">
							<span id="refNumberError"></span>
						</div>
					</div>
					
					<!-- row-5 -->
					<div class="row">
						<div class="col-2">
							<label>STOCK MODE</label>
						</div>
						<div class="col-5">
							<input type="radio" th:field="*{stockMode}" value="Grade"/>Grade
							<input type="radio" th:field="*{stockMode}" value="Margin"/>Margin
						</div>
						<div class="col-5">
							<span id="stockModeError"></span>
						</div>
					</div>
					
					<!-- row-6 -->
					<div class="row">
						<div class="col-2">
							<label>STOCK SOURCE</label>
						</div>
						<div class="col-5">
							<select th:field="*{stockSource}" class="form-control">
								<option value="">--SELECT--</option>
								<option value="OPEN">OPEN</option>
								<option value="AVAIL">AVAIL</option>
								<option value="REFUND">REFUND</option>							
							</select>
						</div>
						<div class="col-5">
						
						</div>
					</div>
					
					<!-- row-7 -->
					<div class="row">
						<div class="col-2">
							<label>STATUS</label>
						</div>
						<div class="col-5">
							<input type="text" th:field="*{status}" readonly="readonly" class="form-control"/>
						</div>
						<div class="col-5">
							<span id="statusError"></span>
						</div>
					</div>

					<!-- row-8 -->
					<div class="row">
						<div class="col-2">
							<label>DESCRIPTION</label>
						</div>
						<div class="col-5">
							<textarea th:field="*{description}" class="form-control"></textarea>
						</div>
						<div class="col-5">
							<span id="descriptionError"></span>
						</div>
					</div>

					<input type="submit" value="CREATE SALE ORDER" class="btn btn-success">

				</form>
			</div>
			<!-- card-body end -->

			<div class="card-footer text-center bg-info text-white" th:if="${message != null}">
				<span th:text="${message}"></span>
			</div>

		</div>
		<!-- card-end -->
	</div>
	<!-- container-end -->

	<!-- script starts from here -->

	<script>
        
    </script>
</body>

</html>