<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="ISO-8859-1">
    <title>ShipmentType Register</title>
</head>

<body>

	<div th:insert="fragments/CommonUi :: userhead"></div>
	<div th:insert="fragments/CommonUi :: usermenu"></div>
	
    <div class="container">
        <div class="card">
            <div class="card-header bg-primary text-center text-white">
                <h3>SHIPMENT-TYPE UPDATE PAGE!!!</h3>
            </div> <!-- card header ends-->

            <div class="card-body">
                <form th:action="@{/shipmenttype/update}" method="POST" th:object="${shipment}">
                
                           <!-- row-1 -->
                    <div class="row">
                        <div class="col-2">
                            <label>ID</label>
                        </div>
                        <div class="col-5">
                            <input type="text" th:field="*{id}" readonly="readonly"/>
                        </div>                        
                    </div>

                    <!-- row-2 -->
                    <div class="row">
                        <div class="col-2">
                            <label>SHIPMENT MODE</label>
                        </div>
                        <div class="col-5">
                            <select th:field="*{shipmentMode}" class="form-control">
                                <option value="">--select--</option>
                                <option value="Air">Air</option>
                                <option value="Truck">Truck</option>
                                <option value="Ship">Ship</option>
                                <option value="Train">Train</option>
                            </select>
                        </div>                       
                    </div>

                    <!-- row-3 -->
                    <div class="row">
                        <div class="col-2">
                            <label>SHIPMENT CODE</label>
                        </div>
                        <div class="col-5">
                            <input type="text" th:field="*{shipmentCode}" class="form-control" />
                        </div>                        
                    </div>

                    <!-- row-4 -->
                    <div class="row">
                        <div class="col-2">
                            <label>ENABLE SHIPMENT</label>
                        </div>
                        <div class="col-5">
                            <input type="radio" th:field="*{enableShipment}" value="Yes" />Yes
                            <input type="radio" th:field="*{enableShipment}" value="No" />No
                        </div>                        
                    </div>

                    <!-- row-5 -->
                    <div class="row">
                        <div class="col-2">
                            <label>SHIPMENT GRADE</label>
                        </div>
                        <div class="col-5">
                            <input type="radio" th:field="*{shipmentGrade}" value="A" />A
                            <input type="radio" th:field="*{shipmentGrade}" value="B" />B
                            <input type="radio" th:field="*{shipmentGrade}" value="C" />C
                        </div>                        
                    </div>

                    <!-- row-6 -->
                    <div class="row">
                        <div class="col-2">
                            <label>DESCRIPTION</label>
                        </div>
                        <div class="col-5">
                            <textarea th:field="*{description}" class="form-control"></textarea>
                        </div>                        
                    </div>
                    <input type="submit" value="UPDATE SHIPMENT" class="btn btn-success" />
                </form>
            </div> <!-- card body ends -->

        </div> <!-- card ends -->
    </div> <!-- container ends -->
</body>

</html>