<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="ISO-8859-1">
    <title>ShipmentType Register</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

</head>

<body>
    <div class="container">
        <div class="card">
            <div class="card-header bg-primary text-center text-white">
                <h3>ShipmentType Register Page!!!</h3>
            </div> <!-- card header ends-->

            <div class="card-body">
                <form th:action="@{/shipmenttype/save}" method="POST" th:object="${shipmentType}" id="shipmentTypeRegForm">

                    <!-- row-1 -->
                    <div class="row">
                        <div class="col-2">
                            <label>Shipment Mode</label>
                        </div>
                        <div class="col-5">
                            <select th:field="*{shipmentMode}" class="form-control">
                                <option value="">--select--</option>
                                <option value="Air">Air</option>
                                <option value="Truck">Truck</option>
                                <option value="Ship">Ship</option>
                                <option value="Train">Train</option>
                            </select>
                        </div>
                        <div class="col-5">
                            <span id="shipmentModeError"></span>
                        </div>
                    </div>

                    <!-- row-2 -->
                    <div class="row">
                        <div class="col-2">
                            <label> Shipment Code</label>
                        </div>
                        <div class="col-5">
                            <input type="text" th:field="*{shipmentCode}" class="form-control" />
                        </div>
                        <div class="col-5">
                            <span id="shipmentCodeError"></span>
                        </div>
                    </div>

                    <!-- row-3 -->
                    <div class="row">
                        <div class="col-2">
                            <label>Enable Shipment</label>
                        </div>
                        <div class="col-5">
                            <input type="radio" th:field="*{enableShipment}" value="Yes" />Yes
                            <input type="radio" th:field="*{enableShipment}" value="No" />No
                        </div>
                        <div class="col-5">
                            <span id="enableShipmentError"></span>
                        </div>
                    </div>

                    <!-- row-4 -->
                    <div class="row">
                        <div class="col-2">
                            <label>Shipment Grade</label>
                        </div>
                        <div class="col-5">
                            <input type="radio" th:field="*{shipmentGrade}" value="A" />A
                            <input type="radio" th:field="*{shipmentGrade}" value="B" />B
                            <input type="radio" th:field="*{shipmentGrade}" value="C" />C
                        </div>
                        <div class="col-5">
                            <span id="shipmentGradeError"></span>
                        </div>
                    </div>

                    <!-- row-5 -->
                    <div class="row">
                        <div class="col-2">
                            <label>Description</label>
                        </div>
                        <div class="col-5">
                            <textarea th:field="*{description}" class="form-control"></textarea>
                        </div>
                        <div class="col-5">
                            <span id="descriptionError"></span>
                        </div>
                    </div>
                    <input type="submit" value="Add Shipment" class="btn btn-success" />
                </form>
            </div> <!-- card body ends -->

            <div class="card-footer bg-info text-center text-white" th:if="${message != null}">
                <span th:text="${message}"></span>
            </div> <!-- card footer ends -->
        </div> <!-- card ends -->
    </div> <!-- container ends -->
    
    <!-- script starts from here -->
    <script>
        $(document).ready(function () {
            //1. hide the error section
            $("#shipmentModeError").hide();
            $("#shipmentCodeError").hide();
            $("#enableShipmentError").hide();
            $("#shipmentGradeError").hide();
            $("#descriptionError").hide();

            //2. define error variables
            var shipmentModeError = false;
            var shipmentCodeError = false;
            var enableShipmentError = false;
            var shipmentGradeError = false;
            var descriptionError = false;

            //3. validate functions
            function validate_shipmentMode() {
                //a. read the value
                var val = $("#shipmentMode").val();
                //b. check the conditions
                if (val == '') {
                    $("#shipmentModeError").show();
                    $("#shipmentModeError").html("Select <b>one of the ShipmentMode</b>");
                    $("#shipmentModeError").css("color", "red");
                    shipmentModeError = false;
                } else {
                    $("#shipmentModeError").hide();
                    shipmentModeError = true;
                }
                return shipmentModeError;
            }

            function validate_shipmentCode() {
                //a. read the value
                var val = $("#shipmentCode").val();
                //regular expression
                var exp = /^[A-Z\-\s]{4,12}$/;

                //b. check the conditions
                if (val == '') {
                    $("#shipmentCodeError").show();
                    $("#shipmentCodeError").html("Shipment Code <b>cannot be empty</b>");
                    $("#shipmentCodeError").css("color", "red");

                    shipmentCodeError = false;
                } else if (!exp.test(val)) {
                    $("#shipmentCodeError").show();
                    $("#shipmentCodeError").html("Shipment Code <b>must be 4-12 UpperCase chars only</b>");
                    $("#shipmentCodeError").css("color", "red");

                    shipmentCodeError = false;

                } else {
                	//AJAX call start
                	$.ajax({
                		url : 'validate',
                		data : {'code':val},
                		success:function(resTxt){
                			if(resTxt==''){
                				$("#shipmentCodeError").hide();
                                shipmentCodeError = true;                				
                			}else{
                				 $("#shipmentCodeError").show();
                                 $("#shipmentCodeError").html(resTxt);
                                 $("#shipmentCodeError").css("color", "red");    
                                 shipmentCodeError = false;
                			}
                		}  //success:function ends
                	});
                	//AJAX call ends
                    
                }
                return shipmentCodeError;
            }

            function validate_enableShipment() {
                //a. reading the length
                var len = $("[name='enableShipment']:checked").length;
                //check conditions
                if (len == 0) {
                    $("#enableShipmentError").show();
                    $("#enableShipmentError").html("Choose <b>Enable Shipment</b>");
                    $("#enableShipmentError").css("color", "red");
                    enableShipmentError = false;
                } else {
                    $("#enableShipmentError").hide();
                    enableShipmentError = true;
                }
                return enableShipmentError;
            }

            function validate_shipmentGrade() {
                //a. reading the length
                var len = $("[name = 'shipmentGrade']:checked").length;
                //b. check the condition
                if (len == 0) {
                    $("#shipmentGradeError").show();
                    $("#shipmentGradeError").html("Choose <b>Shipment Grade</b>");
                    $("#shipmentGradeError").css("color", "red");
                    shipmentGradeError = false;
                } else {
                    $("#shipmentGradeError").hide();
                    shipmentGradeError = true;
                }
                return shipmentGradeError;
            }

            function validate_description() {
                //a. read the value
                var val = $("#description").val();
                //regular expression
                var exp = /^[a-zA-Z0-9\-\_\.\,\s]{10,200}$/;

                //b. check the condition
                if (val == '') {
                    $("#descriptionError").show();
                    $("#descriptionError").html("Description <b>cannot be empty</b>");
                    $("#descriptionError").css("color", "red");
                    descriptionError = false;
                } else if (!exp.test(val)) {
                    $("#descriptionError").show();
                    $("#descriptionError").html("Description <b>must be 10-200 chars only</b>");
                    $("#descriptionError").css("color", "red");
                    descriptionError = false;
                } else {
                    $("#descriptionError").hide();
                    descriptionError = true;
                }
                return descriptionError;
            }

            //4. link validate functions with action events
            $("#shipmentMode").change(function () {
                validate_shipmentMode();
            });
            $("#shipmentCode").keyup(function () {
                $(this).val($(this).val().toUpperCase()); //to convert chars to UpperCase
                validate_shipmentCode();
            });
            $("[name = 'enableShipment']").change(function () {
                validate_enableShipment();
            });
            $("[name = 'shipmentGrade']").change(function () {
                validate_shipmentGrade();
            });
            $("#description").keyup(function () {
                validate_description();
            });

            //5. On Submit Form
            $("#shipmentTypeRegForm").submit(function () {
                validate_shipmentMode();
                validate_shipmentCode();
                validate_enableShipment();
                validate_shipmentGrade();
                validate_description();

                if (shipmentModeError && shipmentCodeError &&
                    enableShipmentError && shipmentGradeError && descriptionError)
                	
                    return true;

                else
                    return false;

            });
        });
    </script>
</body>

</html>