<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>ShipmentType Edit Page</title>
<!-- CSS only -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<h3>WELCOME TO SHIPMENT-TYPE EDIT PAGE</h3>
<form th:action="@{/shipmenttype/update}" method="POST" th:object="${shipment}">
		<pre>
	    Id      	: <input type="text" th:field="*{id}" readonly="readonly"/>	
	Shipment Mode   : <select th:field="*{shipmentMode}">
						<option value="">--select--</option>
						<option value="Air">Air</option>
						<option value="Truck">Truck</option>
						<option value="Ship">Ship</option>
						<option value="Train">Train</option>
					  </select>
					
	Shipment Code   : <input type="text" th:field="*{shipmentCode}"/>
	
	Enable Shipment : <input type="radio" th:field="*{enableShipment}" value="Yes"/>Yes <input type="radio" th:field="*{enableShipment}" value="No"/>No
	
	Shipment grade  : <input type="radio" th:field="*{shipmentGrade}" value="A"/>A <input type="radio" th:field="*{shipmentGrade}" value="B"/>B <input type="radio" th:field="*{shipmentGrade}" value="C"/>C
	
	Description     : <textarea th:field="*{description}"></textarea>

	<input type="submit" value="Update Shipment"/>

</pre>
	</form>

</body>
</html>