<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="ISO-8859-1">
    <title>Uom Edit Page</title>
</head>

<body>

	<div th:insert="fragments/CommonUi :: userhead"></div>
	<div th:insert="fragments/CommonUi :: usermenu"></div>
	
    <div class="container">
        <div class="card">
            <div class="card-header text-center bg-primary text-white">
                <h3>UOM EDIT PAGE</h3>
            </div> <!-- card header ends -->

            <div class="card-body">
                <form th:action="@{/uom/update}" method="POST" th:object="${uom}">
                    <!-- row-1 -->
                    <div class="row">
                        <div class="col-2">
                            <label>UOM ID</label>
                        </div>
                        <div class="col-5">
                            <input type="text" th:field="*{id}" readonly="readonly" class="form-control" />
                        </div>
                    </div> <!-- row-1 ends -->

                    <!-- row-2 -->
                    <div class="row">
                        <div class="col-2">
                            <label>Uom Type</label>
                        </div>
                        <div class="col-5">
                            <select th:field="*{uomType}" class="form-control">
                                <option value="">--select--</option>
                                <option value="PACKING">PACKING</option>
                                <option value="NO PACKING">NO PACKING</option>
                                <option value="NA">-NA-</option>
                            </select>
                        </div>
                        <div class="col-5">
							<span id="uomTypeError"></span>
						</div>
                    </div> <!-- row-2 ends -->

                    <!-- row-3 -->
                    <div class="row">
                        <div class="col-2">
                            <label>Uom Model</label>
                        </div>
                        <div class="col-5">
                            <input type="text" th:field="*{uomModel}" class="form-control"/>
                        </div>
                        <div class="col-5">
							<span id="uomModelError"></span>
						</div>
                    </div> <!-- row-3 ends -->

                    <!-- row-4 -->
                    <div class="row">
                        <div class="col-2">
                            <label>Description</label>
                        </div>
                        <div class="col-5">
                            <textarea th:field="*{description}" class="form-control"></textarea>
                        </div>
                        <div class="col-5">
							<span id="descriptionError"></span>
						</div>
                    </div> <!-- row-4 ends-->

                    <input type="submit" value="Update UOM" class="btn btn-success">
                </form>
            </div> <!-- card body ends -->
        </div> <!-- card-ends -->
    </div> <!-- container ends-->
    
    <script type="text/javascript" th:src="@{/js/uoms.js}"></script>

</body>
</html>