<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">

<head>
	<meta charset="ISO-8859-1">
	<title>Uom Register</title>
</head>

<body>

<div th:insert="fragments/CommonUi :: userlogo"></div>
<div th:insert="fragments/CommonUi :: userhead"></div>
<div th:insert="fragments/CommonUi :: usermenu"></div>

	<div class="container">
	
		<div class="card">
			<div class="card-header text-center bg-primary text-white">
				<h3>UOM REGISTER PAGE</h3>
			</div>
			<div class="card-body">
				<form id="uomRegForm" th:action="@{/uom/save}" method="POST" th:object="${uom}">

					<!-- row-1 -->
					<div class="row">
						<div class="col-2">
							<label>UOM TYPE</label>
						</div>
						<div class="col-5">
							<select th:field="*{uomType}" class="form-control">
								<option value="">--select--</option>
								<option value="PACKING">PACKING</option>
								<option value="NO PACKING">NO PACKING</option>
								<option value="NA">-NA-</option>
							</select>
						</div>
						<div class="col-5">
							<span id="uomTypeError"></span>
						</div>
					</div>

					<!-- row-2 -->
					<div class="row">
						<div class="col-2">
							<label>UOM MODEL</label>
						</div>
						<div class="col-5">
							<input type="text" th:field="*{uomModel}" class="form-control" />
						</div>
						<div class="col-5">
							<span id="uomModelError"></span>
						</div>
					</div>

					<!-- row-3 -->
					<div class="row">
						<div class="col-2">
							<label>DESCRIPTION</label>
						</div>
						<div class="col-5">
							<textarea th:field="*{description}" class="form-control">

                            </textarea>
						</div>
						<div class="col-5">
							<span id="descriptionError"></span>
						</div>
					</div>

					<input type="submit" value="ADD UOM" class="btn btn-success">

				</form>
			</div>
			<!-- card-body end -->

			<div class="card-footer text-center bg-info text-white" th:if="${message != null}">
				<span th:text="${message}"></span>
			</div>

		</div>
		<!-- card-end -->
	</div>
	<!-- container-end -->

	<!-- script starts from here -->
	
	<script type="text/javascript" th:src="@{/js/uoms.js}"></script>
	
</body>

</html>